


h1 {
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

body{
    background-color: burlywood;
}

.emptyDiv {
    background-color:   whitesmoke;
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    max-height: 200%;
}

#germanButton, #spanishButton, #frenchButton, #clearButton {
    margin: 30px;
    padding: 25px;
    background-color: red;
    color: white;
}

.buttons { 
    display: flex;
    justify-content: center;
}

.textarea {
    display: flex;
    justify-content: center;
}


