h1 {
    display: flex;
    justify-content: center;
    color: green;
    font-size: 400%;
    font-family: 'Lobster', cursive;
}

body{
    background-image: url('snow.gif');
    background-size: cover;
}

.emptyDiv {
    border: 1px solid black;
    margin: 20px 375px;
    background-color: white;
    height: 250px;
}

#germanButton, #spanishButton, #frenchButton, #clearButton {
    margin: 30px;
    padding: 25px;
    background-color: red;
    color: white;
}

.buttons { 
    display: flex;
    justify-content: center;
}

.textarea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image {
    width: 25%;
    height: 45%;
}

